/* :root {
    --clr-dark: #212529;
    --clr-light: #D2F5FF;
} */

body {
    background: linear-gradient(to bottom, #D2F5FF 0%, rgba(3,75, 82, 0) 100%);
   height: 100%;
   margin: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.center {
    margin: auto;
    width: 20%;
    padding: 10px;
}

input, button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    font-size: large;
}

h3 {
    display: inline;
    font-size: large;
}

span {
    font-size: large;
}